body {
    font-family: ' Time New Roman', Times, serif;
    margin: 30px;
    padding: 0;
    background-color: rgba(245, 222, 179, 0.493);
}
.profile-picture {
    width: 100px;
    height: 100px;
    

}

h1 {
    text-align: left;
    color: black ;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 6PX 8px ;
    padding: 10px;
}

fieldset {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(245, 222, 179, 0.479);
}

legend {
    font-weight: bold;
    text-align: left;
    color: black;
}

label {
    display: block;
    margin-top: 10px;
    color : black;

}

input, textarea {
    width: calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    padding: 20px;
    background-color:black ;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Time New Roman', Times, serif;
}

button:hover {
    background-color:grey;
    
}